@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

@import "./palette.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: $bgColor;
}

.navbar {
  display: flex;
  flex-direction: row;

  height: 20px;

  justify-content: space-between;
  align-items: center;

  background-color: $navbarColor;

  box-shadow: 0px 2px 0.5px black;

  & h4 {
    content: "";
    width: calc(100% - 40px);
    height: 100%;
  }

  & .window-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 30px;
    padding-right: 5px;

    & button {
      height: 100%;
      width: 30%;
      padding: 5px;
      margin: 0px 2px;
      background-color: #003249;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.1s;

      &:focus {
        outline-style: none;
      }
    }

    & #minimize-button {
      &:hover {
        background-color: yellow;
      }
    }

    & #close-button {
      &:hover {
        background-color: red;
      }
    }
  }
}

.logical-container {
  width: 100%;
  max-width: 800px;
  height: calc(100% - 20px);
  display: flex;

  justify-content: space-between;
  align-items: center;

  & .data {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;

    & .data-label {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 10%;

      justify-content: space-between;
      align-items: center;
      background-color: $darkColor;
      color: $lightColor;

      & h4 {
        margin-left: 10px;
      }

      & button {
        width: 20%;
        padding: 10px;
        border-radius: 20px;
        border: none;
        font-weight: bold;
        margin-right: 20px;
        cursor: pointer;

        background-color: $bgColor;
        color: $lightColor;

        transition: 0.5s;

        &:hover {
          background-color: $lightColor;
          color: $bgColor;
        }

        &:focus {
          outline-style: none;
        }
      }
    }

    & h5 {
      color: $darkColor;
      background-color: $mediumColor;
      padding: 20px;
      border-radius: 25px;
      margin: 10px;
    }

    & textarea {
      width: 575px;
      height: 250px;
      display: flex;
      flex-direction: column;
      font-size: large;
      color: $lightColor;
      padding: 20px;
      border-radius: 20px;
      border: none;

      background-color: $darkColor;

      &:focus {
        outline: none;
      }
    }
  }

  & #commands-list-tab {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: flex-start;
    align-items: center;

    & .commands-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 300px;
      height: 100%;
      background-color: $darkColor;
      color: $lightColor;

      & .command-list-wrapper {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        width: 100%;

        & .commands-group {
          & h4 {
            padding: 10px;
            background-color: darken($darkColor, 5%);
            cursor: pointer;
          }

          & .commands-sublist {
            display: flex;
            flex-direction: column;

            & b {
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 10px;
              cursor: pointer;

              &:hover {
                background-color: $lightColor;
                color: $darkColor;
              }
            }
          }
        }
      }

      & button {
        width: 80%;
        padding: 10px;
        margin-bottom: 25px;
        align-self: center;
        border-radius: 20px;
        margin-top: 10px;
        margin-right: 10px;
        border: none;
        font-weight: bold;
        cursor: pointer;

        background-color: $navbarColor;
        color: $darkColor;

        transition: 0.5s;

        &:hover {
          background-color: $lightColor;
          color: $bgColor;
        }

        &:focus {
          outline-style: none;
        }
      }
    }

    & .command-info {
      display: flex;
      flex-direction: column;
      width: 500px;
      height: 100%;
      font-weight: bold;
      justify-content: flex-start;
      align-items: flex-start;

      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      background-color: $navbarColor;
      color: $darkColor;

      & div {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        & h2,
        p,
        b {
          margin: 10px;
        }

        & h2 {
          align-self: center;
        }

        & h4 {
          width: 90%;
          margin-left: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
          border-radius: 25px;
          margin: 5px;
          background-color: $darkColor;
          color: $lightColor;
        }
      }
    }
  }

  & .console-container {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100%;
    background-color: $darkColor;
    color: $lightColor;

    box-shadow: 2px 0px 0.3px black;

    & h4 {
      padding: 5px;
    }

    & #printed-text {
      margin-left: 5px;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  & .wrapper {
    display: flex;
    flex-direction: column;
    width: 81%;
    max-width: 649px;
    height: 100%;

    align-items: center;
    justify-content: space-between;

    & h3 {
      color: $lightColor;
      margin-top: 25px;
      text-align: center;
      font-size: 14pt;
    }

    & .slot-container {
      width: 100%;
      max-width: 575px;
      max-height: 250px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: 20px;

      background-color: $darkColor;
      & #generated-slots {
        height: 200px;
        margin-bottom: 5px;
        overflow: scroll;

        &::-webkit-scrollbar {
          display: none;
        }

        & .line {
          width: 100%;
          display: flex;
          flex-direction: row;

          justify-content: center;
          margin-bottom: 3%;

          & .slot {
            display: flex;
            flex-direction: row;
            // width: 40%;
            height: 30px;
            margin: 0 0.5%;

            border-radius: 5px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;

            background-color: $mediumColor;

            align-items: center;

            & h5 {
              text-align: center;
              padding: 3px;
            }

            & input {
              width: 100%;
              height: 100%;
              border: none;
              border-radius: 20px;
              padding-left: 5px;

              background-color: $bgColor;
              color: $lightColor;

              transition: 0.5s;

              &:focus {
                outline-style: none;
                background-color: $mediumColor;
                color: $darkColor;
              }
            }
          }
        }
      }
    }

    & .slot-bottom-wrapper {
      display: flex;
      flex-direction: row;
      gap: 5px;

      width: 100%;

      justify-content: space-between;
      align-items: center;

      & button {
        width: 20%;
        padding: 10px;
        border-radius: 20px;
        align-self: center;
        border: none;
        font-weight: bold;
        cursor: pointer;

        background-color: $bgColor;
        color: $lightColor;

        transition: 0.5s;

        &:hover {
          background-color: $lightColor;
          color: $bgColor;
        }

        &:focus {
          outline-style: none;
        }
      }

      & #clear-button {
        width: 10%;
        padding: 5px;
      }

      & .file-controller,
      & .flow-controller {
        display: flex;
        flex-direction: column;
        gap: 10%;
        width: 12.5%;
        height: 100%;
        justify-content: center;

        & button {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40%;
          width: 100%;
        }
      }

      & .slots-controller {
        display: flex;
        flex-direction: column;
        width: 22%;
        color: $lightColor;
        align-items: center;
        justify-content: space-between;

        & .controller-line {
          display: flex;
          flex-direction: row;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px;

          & input {
            width: 20%;
            border: 0;
            padding: 5px;
            border-radius: 20px;
            background-color: $bgColor;
            color: $lightColor;
            &:focus {
              outline-style: none;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    & .error-console {
      width: 100%;
      height: 30%;
      align-self: flex-end;
      background-color: $darkColor;
      color: $lightColor;

      box-shadow: 0px -2px 0.3px black;

      & h4 {
        padding: 5px;
      }

      & #errors {
        margin-left: 5px;
        max-height: 80%;

        overflow: scroll;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
